.imam1,.imam3{ background-color: brown; color: azure;}
.apon1{ border: 10px solid fuchsia;}
.imam4{ color: aqua; font-size: x-large; font-family: Verdana, Geneva, Tahoma, sans-serif;} .imam5{ background-color: blueviolet; color: beige;}.apon2{ color: cadetblue; font-size: small; font-family: serif;}
.imam6{ font-family: cursive; background-color: aqua; color: black;}